In [1]:
# function for drawing date and time given datasetId which is datasetN below
import mysql.connector,sys
from datetime import date, datetime
import pandas as pd
from decimal import Decimal

def getScrapeDatetime(datasetID):

    user,pw, host,db = 'it8701ca2','password123','127.0.0.1','it8701ca2_taxi'

    cnx = mysql.connector.MySQLConnection(user=user, password=pw, host=host, database=db)
    cursor = cnx.cursor()

    select_stmt = ("SELECT LtaTimestamp,taxiCount FROM it8701ca2_taxi.taxisummary WHERE idtaxisummary = %(datasetId)s;")
    data = {'datasetId': datasetID} 

    try:
        cursor.execute(select_stmt, data)
        fetchAll = cursor.fetchall()
        #print(fetchAll)
        LtaDatetime = fetchAll[0][0]
        taxiCount = fetchAll[0][1]
        #print(LtaDatetime)
        outputPopUp = "Datetime: {} <br />Total Taxis = {} <br /> dataset Id: {}".format(LtaDatetime,taxiCount,datasetID) #line break for html
        print(outputPopUp)
            #df = pd.DataFrame(fetchAll, columns = ['idTaxiDetails' ,'lat',
             #                                             'long','datasetId'])
       # print(df)
        print("Query finished!")

    except:
        print("Unexpected error:", sys.exc_info())
        exit()

    finally:
        cursor.close()
        cnx.close()
    
    return(outputPopUp)
#getScrapeDatetime(600)

In [2]:
from ipyleaflet import Map, Heatmap, Popup
from ipywidgets import HTML
from random import uniform
m = Map(
    center=(1.353869, 103.817780), 
    zoom=11
)  #get Singapore base map and the coordinates from google map



def plotHeatmap(dataTitle, locations, oldPopupIntro=None, oldHeatmap=None):
# locations is latlong and 1. None is not there
    if oldPopupIntro is not None:
        m.remove_layer(oldPopupIntro)
    if oldHeatmap is not None:
        m.remove_layer(oldHeatmap)
        
    heatmap = Heatmap(
        locations=locations,
        radius=20
    )

    popupCoord = (1.409588, 104.022521) #Tekong area as popup Intro 
    popupMsg = HTML()
    popupMsg.value = dataTitle

    # Popup with a given location on the map:
    popupIntro = Popup(
        location=popupCoord,
        child=popupMsg,
        close_button=True,
        auto_close=True,
        close_on_escape_key=True
    )
    m.add_layer(popupIntro)
    m.add_layer(heatmap);
    return(popupIntro, heatmap)
    #m.remove_layer

m

Map(basemap={'url': 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 'max_zoom': 19, 'attribution': 'Map â€¦

In [3]:
# draw out 3 columns from MySQL database. want map to output first then run this
import mysql.connector,sys
from datetime import date, datetime
import pandas as pd
from decimal import Decimal
import time

user,pw, host,db = 'it8701ca2','password123','127.0.0.1','it8701ca2_taxi'

cnx = mysql.connector.MySQLConnection(user=user, password=pw, host=host, database=db)
cursor = cnx.cursor()

select_stmt = ("SELECT * FROM it8701ca2_taxi.taxidetails WHERE datasetId = %(datasetId)s;")
oldPopup, oldHeatmap = None, None # initial values for map
try:
    for datasetN in range(1,901+1, 30): # every n records = every nmin
        print('i:{}'.format(datasetN))
        data = { 'datasetId': datasetN} 

        cursor.execute(select_stmt, data)
        fetchAll = cursor.fetchall()
        #print(fetchAll)
        df = pd.DataFrame(fetchAll, columns = ['idTaxiDetails' ,'lat',
                                                      'long','datasetId'])
       # print(df)
        #print("Query finished!")
        # Getting columns as individual lists
        dfLat = df.lat
        #print(dfLat)
        dfLong =df.long


        # Combine the 2 list into 1 list and remove the word (decimal) on the lists
        dfLatLong = list(zip(dfLat,dfLong))
        #print(dfLatLong)
        var_fixed = []
        for row in dfLatLong:
            var_fixed.append(list(map(float, list(row))))
        print(len(var_fixed))


        for i in range(0,len(var_fixed)):
            var_fixed[i].append(1)
        #print(var_fixed)
        oldPopup, oldHeatmap = plotHeatmap(getScrapeDatetime(datasetN), var_fixed, oldPopup, oldHeatmap) # plot is inside the loop
        time.sleep(0.001) # sleep 0.2 sec
    
except:
    print("Unexpected error:", sys.exc_info())
    #exit()

finally:
    cursor.close()
    cnx.close()

# execute sql as you are plotting

i:1
5773
Datetime: 2019-01-24 23:44:55 <br />Total Taxis = 5773 <br /> dataset Id: 1
Query finished!
i:31
5413
Datetime: 2019-01-25 00:14:56 <br />Total Taxis = 5413 <br /> dataset Id: 31
Query finished!
i:61
5567
Datetime: 2019-01-25 00:45:28 <br />Total Taxis = 5567 <br /> dataset Id: 61
Query finished!
i:91
3711
Datetime: 2019-01-25 01:15:29 <br />Total Taxis = 3711 <br /> dataset Id: 91
Query finished!
i:121
5415
Datetime: 2019-01-25 01:45:31 <br />Total Taxis = 5415 <br /> dataset Id: 121
Query finished!
i:151
5133
Datetime: 2019-01-25 02:15:32 <br />Total Taxis = 5133 <br /> dataset Id: 151
Query finished!
i:181
4883
Datetime: 2019-01-25 02:46:04 <br />Total Taxis = 4883 <br /> dataset Id: 181
Query finished!
i:211
4400
Datetime: 2019-01-25 03:16:05 <br />Total Taxis = 4400 <br /> dataset Id: 211
Query finished!
i:241
4423
Datetime: 2019-01-25 03:46:07 <br />Total Taxis = 4423 <br /> dataset Id: 241
Query finished!
i:271
4277
Datetime: 2019-01-25 04:16:08 <br />Total Taxis = 4277 <br /> dataset Id: 271
Query finished!
i:301
4263
Datetime: 2019-01-25 04:46:10 <br />Total Taxis = 4263 <br /> dataset Id: 301
Query finished!
i:331
3975
Datetime: 2019-01-25 05:16:12 <br />Total Taxis = 3975 <br /> dataset Id: 331
Query finished!
i:361
3811
Datetime: 2019-01-25 05:46:43 <br />Total Taxis = 3811 <br /> dataset Id: 361
Query finished!
i:391
3833
Datetime: 2019-01-25 06:16:45 <br />Total Taxis = 3833 <br /> dataset Id: 391
Query finished!
i:421
3807
Datetime: 2019-01-25 06:46:46 <br />Total Taxis = 3807 <br /> dataset Id: 421
Query finished!
i:451
4092
Datetime: 2019-01-25 07:16:48 <br />Total Taxis = 4092 <br /> dataset Id: 451
Query finished!
i:481
3955
Datetime: 2019-01-25 07:46:49 <br />Total Taxis = 3955 <br /> dataset Id: 481
Query finished!
i:511
3198
Datetime: 2019-01-25 08:16:51 <br />Total Taxis = 3198 <br /> dataset Id: 511
Query finished!
i:541
3220
Datetime: 2019-01-25 08:46:52 <br />Total Taxis = 3220 <br /> dataset Id: 541
Query finished!
i:571
4229
Datetime: 2019-01-25 09:17:23 <br />Total Taxis = 4229 <br /> dataset Id: 571
Query finished!
i:601
4015
Datetime: 2019-01-25 09:47:54 <br />Total Taxis = 4015 <br /> dataset Id: 601
Query finished!
i:631
4383
Datetime: 2019-01-25 10:18:26 <br />Total Taxis = 4383 <br /> dataset Id: 631
Query finished!
i:661
4000
Datetime: 2019-01-25 10:48:27 <br />Total Taxis = 4000 <br /> dataset Id: 661
Query finished!
i:691
4227
Datetime: 2019-01-25 11:18:28 <br />Total Taxis = 4227 <br /> dataset Id: 691
Query finished!
i:721
3663
Datetime: 2019-01-25 11:48:30 <br />Total Taxis = 3663 <br /> dataset Id: 721
Query finished!
i:751
2698
Datetime: 2019-01-25 12:18:31 <br />Total Taxis = 2698 <br /> dataset Id: 751
Query finished!
i:781
1788
Datetime: 2019-01-25 12:50:32 <br />Total Taxis = 1788 <br /> dataset Id: 781
Query finished!
i:811
3194
Datetime: 2019-01-25 13:20:34 <br />Total Taxis = 3194 <br /> dataset Id: 811
Query finished!
i:841
2784
Datetime: 2019-01-25 13:51:05 <br />Total Taxis = 2784 <br /> dataset Id: 841
Query finished!
i:871
2895
Datetime: 2019-01-25 14:21:07 <br />Total Taxis = 2895 <br /> dataset Id: 871
Query finished!
i:901
3106
Datetime: 2019-01-25 14:51:08 <br />Total Taxis = 3106 <br /> dataset Id: 901
Query finished!

In [ ]:
# DEBUG DO NOT RUN
for i in range(0,20,2):
    print(i)
    time.sleep(0.2)

In [ ]:
# backup beginning DO NOT RUN
# draw out 3 columns from MySQL database and no need to run because use later
import mysql.connector,sys
from datetime import date, datetime
import pandas as pd
from decimal import Decimal

user,pw, host,db = 'it8701ca2','password123','127.0.0.1','it8701ca2_taxi'

cnx = mysql.connector.MySQLConnection(user=user, password=pw, host=host, database=db)
cursor = cnx.cursor()

select_stmt = ("SELECT * FROM it8701ca2_taxi.taxidetails WHERE datasetId = %(datasetId)s;")
data = { 'datasetId': 1} 

try:
    cursor.execute(select_stmt, data)
    fetchAll = cursor.fetchall()
    #print(fetchAll)
    df = pd.DataFrame(fetchAll, columns = ['idTaxiDetails' ,'lat',
                                                  'long','datasetId'])
   # print(df)
    print("Query finished!")

except:
    print("Unexpected error:", sys.exc_info())
    exit()

finally:
    cursor.close()
    cnx.close()

# Getting columns as individual lists
dfLat = df.lat
#print(dfLat)
dfLong =df.long


# Combine the 2 list into 1 list and remove the word (decimal) on the lists
dfLatLong = list(zip(dfLat,dfLong))
#print(dfLatLong)
var_fixed = []
for row in dfLatLong:
    var_fixed.append(list(map(float, list(row))))
print(len(var_fixed))


for i in range(0,len(var_fixed)):
    var_fixed[i].append(1)
print(var_fixed)

In [ ]:
# FOR DEBUG DO NOT RUN
#oldPopup, oldHeatmap = plotHeatmap('asd2', var_fixed, None, None)
#oldPopup, oldHeatmap = plotHeatmap('asd2asd', var_fixed)
#oldPopup, oldHeatmap = plotHeatmap('asd3', var_fixed, oldPopup, oldHeatmap)